<!DOCTYPE html>
<html>
<head>
  <title>Admin Page</title>
</head>
<body>

  <h2>All Sessions:</h2>
  <ul>
    <% sessionIdsList.forEach(function(session) { %>
      <li>SessionID: <%= session.sessionId %></li>
      <form action="/destroy/<%= session.sessionId %>" method="post">
        <button type="submit" class="btn btn-secondary">Revoke</button>
      </form>
    <% }); %>
  </ul>
</body>
</html>
